/* start navbar */
.navbar {
    background: var(--primary) !important;
    border-bottom: 2px solid var(--tertiary);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 9999;
    height: 90px;
    transition: .3s ease-in-out;

    &.fixed-top {
        position: fixed;
        animation: navbar-animation 0.6s;
    }

    .navbar-nav li a {
        transition: .3s ease-in-out;
    }

    .navbar-nav li a.active,
    .navbar-nav li a:hover {
        color: var(--secondary) !important;
    }

    /* start media all and min-width: 992px */
    @media all and (min-width: 992px) {
        padding-top: 0 !important;
        padding-bottom: 0 !important;

        .navbar-nav .nav-link {
            padding: 2rem 1rem !important;
            position: relative;

            &::before {
                position: absolute;
                content: "";
                bottom: 1.5rem;
                left: 1rem;
                right: 1rem;
                height: 2px;
                width: 0;
                background: var(--secondary);
                transition: all .3s ease-in-out;
            }

            &.active::before {
                width: 25%;
            }

            &:hover::before {
                width: 35%;
            }

            &.active:hover::before {
                width: 25%;
            }
        }

        .nav-item .dropdown-menu {
            @include bg-filter;
            display: block;
            visibility: hidden;
            opacity: 0;
            margin: 0;
            min-width: 200px;
            padding: 0;
            border: 2px solid var(--tertiary);
            border-radius: 0 0 15px 15px;
        }

        .nav-item:hover .dropdown-menu {
            opacity: 1;
            visibility: visible;
            overflow: hidden;
            animation: dropdown-animation 0.5s;
            transform-origin: top;

            .dropdown-item {
                color: var(--gray);
                padding: .8rem 1rem;
                transition: all .3s ease-in-out;

                &:hover {
                    color: var(--gray);
                    padding-left: 1.5rem;
                    background: var(--tertiary);
                }

                &:focus {
                    background: var(--tertiary);
                    color: var(--secondary);
                }
            }
        }

        .dropdown-toggle::after {
            transform: translateY(5px);
        }

    }

    /* end media all and min-width: 992px */

    /* start media all and max-width: 992px */
    @media all and (max-width: 992px) {
        padding-top: 1rem !important;
        padding-bottom: 1rem !important;

        .navbar-toggler {
            box-shadow: none;
            border: none;

            width: 35px;
            height: 35px;
            z-index: 30;
            overflow: hidden;
            display: block;
            border-radius: .3rem;
            background-color: var(--tertiary);
            cursor: pointer;
            transform: rotate(0deg);
            transition: 0.5s ease-in-out;

            span,
            &::before,
            &::after {
                content: "";
                position: absolute;
                left: 10px;
                width: 15px;
                height: 2px;
                display: block;
                background-color: var(--white);
                opacity: 1;
                transform: rotate(0deg);
                transition: .3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
            }

            &::before {
                top: 10px;
            }

            span {
                top: 17px;
            }

            &::after {
                top: 24px;
            }


            &.is-active {

                &::before {
                    top: 18px;
                    transform: rotate(135deg);
                }

                span {
                    opacity: 0;
                    left: -30px;
                }

                &::after {
                    top: 18px;
                    transform: rotate(-135deg);
                }

            }

        }

        .navbar-collapse {
            @include bg-filter;
            background: var(--primary);
            border-right: 2px solid var(--tertiary);
            position: absolute;
            visibility: hidden;
            display: block;
            top: 0;
            bottom: 0;
            left: 0;
            opacity: 0;
            min-width: 300px;
            height: 100vh !important;
            z-index: 9999;
            padding: 3rem 2rem 1rem;
            transform: translateX(-100%);
            transition: .2s ease-in-out;

            &.show {
                visibility: visible;
                opacity: 1;
                transform: translateX(0);
            }
        }

        .nav-item .dropdown-menu {
            background: transparent;
            border: none;

            .dropdown-item {
                padding: 0.25rem 0;
                color: var(--gray);

                &:hover {
                    background: transparent;
                    color: var(--secondary);
                }

            }
        }


        .dropdown-toggle::after {
            position: absolute;
            right: 0;
            transform: translateY(5px);
        }

    }

    /* end media all and max-width: 992px */

}
/* end navbar */
