/* start colors */
:root {
    --primary: #0e1630;
    --secondary: #eb4a4a;
    --tertiary: #171f38;
    --gray: #808dad;
    --white: #ffffff;
    --secondary-02: rgba(235, 74, 74, 0.1);
    --tertiary-02: rgba(23, 31, 56, 0.5);
}